.tvShowCard {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  padding: 10%;
  padding-bottom: 10px;
}
.showCardContent {
  text-align: center;
  padding: 5%;
  border: 5px solid white;
  margin: 5px;
  border-radius: 8px;
}

h1 {
  padding-bottom: 20px;
  font-size: 1.25rem;
}

li {
  padding-bottom: 15px;
  font-size: 1rem;
}

.tvShowCard img {
  width: 100%;
}

.listBtns {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
  justify-content: center;
}
