.userListContainer {
    display: flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
    padding-top: 20px;
}

.userListImage {
    box-shadow: 15px 15px $blue;
    margin-bottom: 5px;
    width: 60%;
}

.userCardTitle {
    font-size: 2rem;
    text-transform: uppercase;
}

.userCardRating {
    font-size: 1.25rem;
}

.downVoteBtn {
        width: 140px;
        background: $coral;
        border: 2px solid black;
        color: $blue;
        border-radius: 4px;
        padding: 5px;
        font-size: 1rem;
        margin-bottom: 45px;
        margin-left: 17px;
        height: 26px;
        font-family: $font;
        font-weight: 700;
        text-transform: uppercase;
}
.upVoteBtn {
    width: 140px;
    background: $blue;
    border: 2px solid black;
    color: $coral;
    border-radius: 4px;
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 45px;
    margin-left: 17px;
    height: 26px;
    font-family: $font;
    font-weight: 700;
    text-transform: uppercase;
}

.upVoteBtn:hover,
.downVoteBtn:hover {
    background: white;
    color: $coral;
}